In [18]:
import pandas as pd

# Open data
df_data = pd.read_parquet("data\cleaned_maintenance_data.parquet")
# Set dtypes
types = {
    "hour": int,
    "day": int,
    "month": int,
    "year": int,
    "is_renting": bool,
    "is_returning": bool,
    "is_installed": bool,
}
df_data = df_data.astype(types)
df_data

,station_id,hour,day,month,year,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,is_installed
0,1,0,1,1,2020,23.333333,23.166667,0.166667,20.666667,IN_SERVICE,True,True,True
1,1,0,2,1,2020,25.583333,22.583333,3.000000,17.416667,IN_SERVICE,True,True,True
2,1,0,3,1,2020,40.416667,36.500000,3.916667,3.583333,IN_SERVICE,True,True,True
3,1,0,4,1,2020,10.769231,10.769231,0.000000,33.230769,IN_SERVICE,True,True,True
4,1,0,5,1,2020,15.750000,15.500000,0.250000,27.250000,IN_SERVICE,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16551417,519,23,28,12,2023,3.333333,0.000000,3.333333,19.666667,IN_SERVICE,True,True,True
16551418,519,23,29,12,2023,8.166667,0.000000,8.166667,13.833333,IN_SERVICE,True,True,True
16551419,519,23,30,11,2023,13.500000,0.000000,13.500000,10.500000,IN_SERVICE,True,True,True
16551420,519,23,30,12,2023,6.583333,0.000000,6.583333,16.416667,IN_SERVICE,True,True,True
16551421,519,23,31,12,2023,6.666667,0.000000,6.666667,16.333333,IN_SERVICE,True,True,True

In [19]:
# Load station info
df_stations = pd.read_csv("data\Informacio_Estacions_Bicing.csv")
df_stations

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,is_charging_station,nearby_distance,_ride_code_support,rental_uris,cross_street
0,1,"GRAN VIA CORTS CATALANES, 760",ELECTRICBIKESTATION,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",8013,45,True,1000.0,True,NaN,NaN
1,2,"C/ ROGER DE FLOR, 126",ELECTRICBIKESTATION,41.395488,2.177198,17.0,"C/ ROGER DE FLOR, 126",8013,29,True,1000.0,True,NaN,NaN
2,3,"C/ NÀPOLS, 82",ELECTRICBIKESTATION,41.394156,2.181331,11.0,"C/ NÀPOLS, 82",8013,27,True,1000.0,True,NaN,NaN
3,4,"C/ RIBES, 13",ELECTRICBIKESTATION,41.393317,2.181248,8.0,"C/ RIBES, 13",8013,21,True,1000.0,True,NaN,NaN
4,5,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",ELECTRICBIKESTATION,41.391103,2.180176,7.0,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",8018,39,True,1000.0,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,515,"C/ SANT ADRIÀ, 43",ELECTRICBIKESTATION,41.435207,2.194800,19.0,"C/ SANT ADRIÀ, 43",8030,24,True,1000.0,True,NaN,NaN
502,516,"C/ SANT ADRIÀ, 88",ELECTRICBIKESTATION,41.435460,2.200157,15.0,"C/ SANT ADRIÀ, 88",8030,21,True,1000.0,True,NaN,NaN
503,517,"AV. RASOS DE PEGUERA, 10",ELECTRICBIKESTATION,41.462095,2.178959,44.0,"AV. RASOS DE PEGUERA, 10",8033,20,True,1000.0,True,NaN,NaN
504,518,"C/ LLOBREGÓS, 115",ELECTRICBIKESTATION,41.424689,2.157049,112.0,"C/ LLOBREGÓS, 115",8032,27,True,1000.0,True,NaN,NaN
505,519,"C/ PEDRELL, 52",ELECTRICBIKESTATION,41.424655,2.166289,110.0,"C/ PEDRELL, 52",8032,24,True,1000.0,True,NaN,NaN

In [20]:
# Merge location data
df_data = pd.merge(df_data, df_stations[["station_id","name","lat","lon","altitude", "capacity", "is_charging_station"]], on="station_id", how="inner")

In [21]:
df_data["datetime"] = pd.to_datetime(df_data[["year", "month", "day", "hour"]])
df_data

,station_id,hour,day,month,year,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,is_installed,name,lat,lon,altitude,capacity,is_charging_station,datetime
0,1,0,1,1,2020,23.333333,23.166667,0.166667,20.666667,IN_SERVICE,True,True,True,"GRAN VIA CORTS CATALANES, 760",41.397978,2.180107,16.0,45,True,2020-01-01 00:00:00
1,1,0,2,1,2020,25.583333,22.583333,3.000000,17.416667,IN_SERVICE,True,True,True,"GRAN VIA CORTS CATALANES, 760",41.397978,2.180107,16.0,45,True,2020-01-02 00:00:00
2,1,0,3,1,2020,40.416667,36.500000,3.916667,3.583333,IN_SERVICE,True,True,True,"GRAN VIA CORTS CATALANES, 760",41.397978,2.180107,16.0,45,True,2020-01-03 00:00:00
3,1,0,4,1,2020,10.769231,10.769231,0.000000,33.230769,IN_SERVICE,True,True,True,"GRAN VIA CORTS CATALANES, 760",41.397978,2.180107,16.0,45,True,2020-01-04 00:00:00
4,1,0,5,1,2020,15.750000,15.500000,0.250000,27.250000,IN_SERVICE,True,True,True,"GRAN VIA CORTS CATALANES, 760",41.397978,2.180107,16.0,45,True,2020-01-05 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16414096,519,23,28,12,2023,3.333333,0.000000,3.333333,19.666667,IN_SERVICE,True,True,True,"C/ PEDRELL, 52",41.424655,2.166289,110.0,24,True,2023-12-28 23:00:00
16414097,519,23,29,12,2023,8.166667,0.000000,8.166667,13.833333,IN_SERVICE,True,True,True,"C/ PEDRELL, 52",41.424655,2.166289,110.0,24,True,2023-12-29 23:00:00
16414098,519,23,30,11,2023,13.500000,0.000000,13.500000,10.500000,IN_SERVICE,True,True,True,"C/ PEDRELL, 52",41.424655,2.166289,110.0,24,True,2023-11-30 23:00:00
16414099,519,23,30,12,2023,6.583333,0.000000,6.583333,16.416667,IN_SERVICE,True,True,True,"C/ PEDRELL, 52",41.424655,2.166289,110.0,24,True,2023-12-30 23:00:00
16414100,519,23,31,12,2023,6.666667,0.000000,6.666667,16.333333,IN_SERVICE,True,True,True,"C/ PEDRELL, 52",41.424655,2.166289,110.0,24,True,2023-12-31 23:00:00

In [22]:
df_data["status"].value_counts()

status
IN_SERVICE        16370020
NOT_IN_SERVICE       24453
MAINTENANCE          18922
PLANNED                706
Name: count, dtype: int64

## Create an interactive visualization of the station status with Plotly

In [6]:
%pip install plotly dash

Requirement already satisfied: plotly in c:\users\carles\.conda\envs\dsml\lib\site-packages (5.22.0)
Requirement already satisfied: dash in c:\users\carles\.conda\envs\dsml\lib\site-packages (2.17.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from plotly) (8.3.0)
Requirement already satisfied: packaging in c:\users\carles\.conda\envs\dsml\lib\site-packages (from plotly) (24.0)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (3.0.2)
Requirement already satisfied: Werkzeug<3.1 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (3.0.1)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (5.0.0)
Requirement already satisfied: importlib-metadata in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (7.1.0)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (4.11.0)
Requirement already satisfied: requests in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (2.31.0)
Requirement already satisfied: retrying in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (1.5.8)
Requirement already satisfied: setuptools in c:\users\carles\.conda\envs\dsml\lib\site-packages (from dash) (68.2.2)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (2.1.2)
Requirement already satisfied: click>=8.1.3 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (1.7.0)
Requirement already satisfied: zipp>=0.5 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from importlib-metadata->dash) (3.18.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from Werkzeug<3.1->dash) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from requests->dash) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from requests->dash) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from requests->dash) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from requests->dash) (2023.7.22)
Requirement already satisfied: six>=1.7.0 in c:\users\carles\.conda\envs\dsml\lib\site-packages (from retrying->dash) (1.16.0)
Requirement already satisfied: colorama in c:\users\carles\.conda\envs\dsml\lib\site-packages (from click>=8.1.3->Flask<3.1,>=1.0.4->dash) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import plotly.express as px

# Create a dataframe with unique datetime values
unique_times = df_data['datetime'].sort_values().unique()
# Extract unique values for sliders
unique_years = df_data['year'].astype(int).unique()
unique_years = list([int(y) for y in unique_years])
unique_months = list(range(1, 13))
unique_days = list(range(1, 32))
unique_hours = list(range(24))

In [37]:
from dash import Dash, dcc, html, Input, Output, State
import pandas as pd
import plotly.express as px


app = Dash(__name__)

app.layout = html.Div([
    html.H1("Bike Station Status Over Time"),
    dcc.Graph(id='map', animate=True),
    dcc.Store(id='map-view', data={'lat': 41.3999, 'lon': 2.17162, 'zoom': 11.5}),
    html.Div([
        html.Label("Select Year:"),
        dcc.Slider(
            id='year-slider',
            min=min(unique_years),
            max=max(unique_years),
            value=2020,
            marks={year: str(year) for year in unique_years},
            step=1
        ),
        html.Label("Select Month:"),
        dcc.Slider(
            id='month-slider',
            min=min(unique_months),
            max=max(unique_months),
            value=min(unique_months),
            marks={month: str(month) for month in unique_months},
            step=1
        ),
        html.Label("Select Day:"),
        dcc.Slider(
            id='day-slider',
            min=min(unique_days),
            max=max(unique_days),
            value=min(unique_days),
            marks={day: str(day) for day in unique_days if day % 5 == 0},
            step=1
        ),
        html.Label("Select Hour:"),
        dcc.Slider(
            id='hour-slider',
            min=min(unique_hours),
            max=max(unique_hours),
            value=min(unique_hours),
            marks={hour: str(hour) for hour in unique_hours},
            step=1
        )
    ])
])

@app.callback(
    Output('map', 'figure'),
    Output('map-view', 'data'),
    Input('year-slider', 'value'),
    Input('month-slider', 'value'),
    Input('day-slider', 'value'),
    Input('hour-slider', 'value'),
    State('map', 'relayoutData'),
    State('map-view', 'data')
)
def update_map(selected_year, selected_month, selected_day, selected_hour, relayout_data, map_view):
    # Ensure the selected date and time is valid
    try:
        selected_time = pd.Timestamp(year=selected_year, month=selected_month, day=selected_day, hour=selected_hour)
        filtered_data = df_data[df_data['datetime'] == selected_time]
    except ValueError:
        filtered_data = pd.DataFrame(columns=df_data.columns)  # empty DataFrame if date is invalid

    # Check if relayout_data contains new map view settings
    if relayout_data and 'mapbox.center' in relayout_data:
        map_view['lat'] = relayout_data['mapbox.center']['lat']
        map_view['lon'] = relayout_data['mapbox.center']['lon']
        map_view['zoom'] = relayout_data['mapbox.zoom']

    fig = px.scatter_mapbox(
        filtered_data, 
        lat="lat", 
        lon="lon", 
        hover_name="name", 
        hover_data=["status", "num_bikes_available"],
        color='status',
        color_discrete_map={'IN_SERVICE': 'green', 'NOT_IN_SERVICE': 'red', "MAINTENANCE": "gray", "PLANNED": "blue"},
        zoom=map_view['zoom'], 
        height=600,
        center={"lat": map_view['lat'], "lon": map_view['lon']}
    )

    fig.update_layout(mapbox_style="open-street-map")
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    return fig, map_view

if __name__ == '__main__':
    app.run(debug=True)
# To see it better, open a new tab in your browser and go to http://localhost:8050/